
.loader-container {
  position: absolute;
  inset: 0;
  background: rgba(255,255,255,0.65);
  display: grid;
  place-items: center;
  color: #646cff;
  
  svg {
    width: 5rem;
    height: 5rem;
  }

}