
.filter-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;

  label {
    cursor: pointer;
  }

  /* -- SWITCH CHECKBOX - */
  & input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    color: inherit;
    font-size: inherit;
    width: 2em;
    height: 1em;
    box-sizing: content-box;
    border: 1px solid;
    border-radius: 1em;
    vertical-align: text-bottom;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      box-sizing: border-box;
      width: 0.7em;
      height: 0.7em;
      margin: 0 0.15em;
      border: 1px solid;
      border-radius: 50%;
      background: currentcolor;
    }

    &:checked {
      border-color: var(--action-color);

      &:before {
        left: 1em;
        background: var(--action-color);
        border-color: var(--action-color);
      }
    }

    &:disabled {
      opacity: 0.4;
    }
  }

}