
.todo-item {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  box-shadow: 0 4px 10px -5px rgba(0,0,0,0.1);
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 10px -10px rgba(0,0,0,0.1);
  }

  &.completed {
    background: var(--selected-background);
    opacity: 0.75;
    text-decoration: line-through;

    & svg {
      color: green;
    }
  }

  .title {
    flex: 1;
  }

  & svg {
    color: #cccccc;
    width: 1.25rem;
    height: 1.25rem;
    min-width: 1.25rem;
  }

  & input {
    width: 18px;
    height: 18px;
    min-width: 18px;
  }

}