:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --action-color: #646cff;
  --action-color-hover: #535bf2;
  --selected-background: #f9f9f9;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--action-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--action-color-hover);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.layout-container {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  & main {
    flex: 1;
    width: 100%;
    max-width: 1024px;
    padding: 25px;
    margin: 0 auto;
  }
}

.breadcrumbs {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  background: var(--selected-background);
  border-radius: 4px;

  & span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    &:before {
      content: '/';
    }
  }
}

h1.title {
  font-size: 1.6em;
  line-height: 1.2em;
  margin: 0 0 1rem;
}


