
footer {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  font-size: 0.8rem;
  color: #999;
  font-style: italic;

  & .content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 0.5rem 0 1.5rem;
    margin: 0 25px;
  }
}